.quotationlist_container {
  margin: 0px 15px 15px 15px;
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #c0caca;
  border-radius: 0 0 10px 10px;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.sortSection {
  display: flex;
  justify-content: space-between;
}
.leftSection,
.rightSection {
  display: flex;
}

.labelTitle {
  display: block;
  margin-bottom: 8px;
  width: 150px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #98a7a7;
}

.sortSelect {
  width: calc(100% - 16px);
  padding: 8px;
  color: #98a7a7;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid;
  font-family: "Roboto", sans-serif;
}
.inputDataFields {
  width: calc(100% - 16px);
  padding: 4px;
  color: #c0caca;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  border: 0.5px solid #3498db;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #fff;
  color: #3498db;
  border: 0.5px solid #3498db;
}
.filterButton {
  background-color: #3498db;
  color: #fff;
  margin-right: 10px;
}

.clearButton {
  background-color: #fff;
  color: #3498db;
  border: 1px solid #3498db;
}
.clearButton:hover {
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
}
.rightSectionDiv {
  display: flex;
  align-items: center;
}

.tableContainer {
  width: 100%;
  margin-top: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  font-size: 12px;
}

.table th {
  background-color: rgba(34, 51, 84, 0.1);
  font-weight: 600;
  color: rgba(34, 51, 84, 0.7);
}

.table .td {
  border-bottom: 1px solid #c0caca;
}

.table tfoot th,
.table tfoot td {
  text-align: left;
  background-color: rgb(189 189 189);
  color: rgb(34, 51, 84);
}
.actionButton {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-family: "Poppins", sans-serif;
}

.blueButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  outline: none;
}

.redButton {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
}
.table td.active {
  border-bottom: none;
}
/* .toggleRow {
  background-color: #f2f2f2; 
} */
.iconsArrow {
  color: #3498db;
}
.reportBtns_Main {
  display: flex;
  align-items: center;
  justify-content: left;
}
.reportBtns {
  font-weight: 600;
  background-color: rgb(0, 113, 188);
}
.quotationInfoMain,
.quotationDetailsMain {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 12px;
}

.quotationInfoMain_Table {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 10px;
}

.table_out {
  flex: 1;
  padding: 5px;
}

.table_out.detailsTh {
  background-color: none;
}
.infoTd {
  font-weight: 600;
}
.reportBtns {
  font-weight: 600;
  background-color: #fff;
  color: #000;
}

.reportBtns.activeButton {
  background-color: rgb(0, 113, 188);
  color: #fff;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
}

.pagination .select {
  margin-right: 10px;
  width: calc(100% - 16px);
  padding: 8px;
  color: #000;
  margin-bottom: 5px;
  border: 0;
}

.fieldset {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  font-size: 12px;
}
.btnMainPagination {
  display: inline-flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
}
.paginationIcons {
  color: "#3498db";
  padding-left: 5px;
  font-size: 18px;
}
