.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: right;
  backdrop-filter: blur(5px);
}

.modalContent {
  height: 100vh;
  width: 30%;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modalContent_head {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34, 51, 84);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 25px;
}
.subledgerBillWise {
  display: inline-grid;
  align-items: center;
}

.inputAreaMain {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 15px;
  margin: 15px;
}
.moreInfoModal_footer {
  position: sticky;
  bottom: 0;
  background-color: rgb(34, 51, 84);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

.footer_btn {
  cursor: pointer;
}

/* Add this class to style the scrollbar */
.inputAreaMain::-webkit-scrollbar {
  width: 10px;
}

.inputAreaMain::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 5px;
}

.inputAreaMain::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.ledgerInput {
  padding: 10px;
  border: 1px solid #c0caca;
  border-radius: 10px;
  width: 100%;
}
.acntGrp {
  width: 100%;
  padding: 10px 0px;
  border: 1px solid #c0caca;
  border-radius: 10px;
}
.selectDebCrd {
  padding: 12px 13px;
  border-radius: 10px;
  border: 1px solid #c0caca;
  width: 30%;
  margin-right: 10px;
}
.inputOpnBal {
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #c0caca;
  width: 65%;
}
.subledger,
.BillWise {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.subledgerInput,
.billWiseInput {
  margin-right: 10px;
}
.twoButtonsMain {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.addViewAddress {
  margin-right: 10px;
  background-color: rgb(34, 51, 84);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
.addressMain {
  margin-top: 10px;
}
