@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

.app-container {
  width: 100%;
  height: 100vh;
  max-width: 1350px;
  margin: auto;
  background-color: #f0f4f4;
  display: grid;
  grid-template-columns: 0.3fr 4fr;
  grid-template-rows: 0.5fr 4fr;
  grid-template-areas:
    "logo header"
    "aside main";
}
